<template>
  <div class="login_card">
    <div class="login_card__container">
      <h1>Login</h1>
      <h3>Visit your Q-agency library and read your books!</h3>
      <div class="login_card__container__split_line"></div>
      <input
        class="login_card__container__input"
        type="text"
        placeholder="email@website.com"
        v-model="email"
      />
      <input
        class="login_card__container__input"
        type="password"
        placeholder="*Min. 7 characters"
        v-model="password"
      />

      <button @click="login" class="login_card__container__login_button">Login</button>

      <div class="login_card__container__message_div"><span v-if="showLoginError">email or password incorrect!!!</span></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    initLogin: Function,
  },
  data: () => {
    return {
      email: "",
      password: "",
      showLoginError: false,
    };
  },
  methods: {
    async login() {
      const data: { email: string; password: string } = {
        email: this.email,
        password: this.password,
      };

      fetch("http://localhost:3000/auth/login", {
        method: "POST",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (response.status === 400) {
            throw new Error("EMAIL_OR_PASSWORD_INCORRECT");
          }
          console.log(response)
          return response.json();
        })
        .then((response: { auth: string; refresh: string }) => {
          this.showLoginError = false;
          window.localStorage.setItem("q_agency_jwt_auth", response.auth);
          window.localStorage.setItem("q_agency_jwt_refresh", response.auth);
          this.initLogin();
          this.$router.push("/books");
        })
        .catch(() => {
          this.showLoginError = true;
        });
    },
  },
  mounted() {
    const jwt = window.localStorage.getItem("q_agency_jwt_auth");
    if (jwt) {
      this.$router.push("/");
    }
  },
})
export default class LoginCard extends Vue {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: white;
}

.login_card__container{
  display: flex;
  flex-direction: column;
}

.login_card__container h1 {
  color: #363636;
}

.login_card__container h3 {
  color: #a8a8a8;
}

.login_card__container__split_line{
  background: #e3e3e3;
  width: 100%;
  height: 1px;
  margin: 2em 0;
}

.login_card__container__input {
  width: 30em;
  height: 2em;
  margin-bottom: 3em;
  padding: 0.8em 1.5em;
  border: 1px solid #e3e3e3;
  border-radius: 5em;
}

.login_card__container__login_button {
  width: 100%;
  margin-bottom: 3em;
  padding: 1em 1.5em;
  border: 1px solid #e3e3e3;
  border-radius: 5em;
  background: #b08968;
  color: white;
  cursor: pointer;
}

.login_card__container__login_button:active {
  background: #7f5539;
}

.login_card__container__message_div {
  width: 100%;
  text-align: center;
  color: #bf3b3b;
}

@media only screen and (min-width: 1100px){
  .login_card {
    width: 45vw;
  }
}
</style>
