<template>
  <img src="/img/library.jpg" class="login_image"/>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

export default class LoginImage extends Vue {}
</script>

<style scoped>
.login_image {
  display: none;
  object-fit: cover;
}
@media only screen and (min-width: 1100px){
  .login_image {
    display: block;
    width: 55vw;
    height: 100vh;
  }
}
</style>