<template>
  <form
    id="create-author-form"
    class="author-form"
    @submit.prevent="submitForm"
  >
    <div class="form-header">
      <h3 v-if="formAction === 'POST'">Create Author</h3>
      <h3 v-if="formAction === 'PATCH'">Update Author</h3>

      <div>
        <span class="form-header__button" :class="{ 'underline': formAction === 'POST' }" @click="changeFormAction('POST')">create</span>
        <span class="form-header__button" :class="{ 'underline': formAction === 'PATCH' }" @click="changeFormAction('PATCH')">update</span>
      </div>
    </div>

    <div class="field_group_holder" v-if="formAction === 'PATCH'">
      <label>Select Author</label>
      <select name="authors" id="authors-select" @change="changeAuthor">
        <option :value="'default'" >select</option>
        <option v-for="(author, index) in authors" :key="index" :value="index">{{ author.email }}</option>
      </select>
    </div>

    <div class="field_group_holder">
      <label>Firstname</label>
      <input
        type="text"
        name="firstname"
        placeholder="Firstname"
        v-model="formData.firstname"
      />
      <small class="field_error color-red" v-if="formErrors.firstname">{{ formErrors.firstname }}</small>
    </div>

    <div class="field_group_holder">
      <label>Lastname</label>
      <input
        type="text"
        name="lastname"
        placeholder="Lastname"
        v-model="formData.lastname"
      />
      <small class="field_error color-red" v-if="formErrors.lastname">{{ formErrors.lastname }}</small>
    </div>

    <div class="field_group_holder">
      <label>Email</label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        v-model="formData.email"
      />
      <small class="field_error color-red" v-if="formErrors.email">{{ formErrors.email }}</small>
    </div>

    <div class="field_group_holder" v-if="formAction === 'POST'">
      <label>Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        v-model="formData.password"
      />
      <small class="field_error color-red" v-if="formErrors.password">{{ formErrors.password }}</small>
    </div>

    <div>
      <input class="author-form_buttons bg-green" type="submit" value="Save" :disabled="!updateAuthorId && formAction === 'PATCH'"/>
      <input class="author-form_buttons bg-red" type="reset" value="Reset" />
    </div>
  </form>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    getAuthors: Function,
    authors: Array,
  },
  data: () => {
    return {
      formData: {
        firstname: "",
        lastname: "",
        email: "",
        password: "",
      },
      formErrors: {
        firstname: null,
        lastname: null,
        email: null,
        password: null,
      },
      updateAuthorId: String,
      formAction: "POST",
    };
  },
  methods: {
    createAuthor() {
      const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";

      fetch("http://localhost:3000/author", {
        method: "POST",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + jwt,
        },
        body: JSON.stringify(this.formData)
      })
        .then((response) => response.json())
        .then((results) => {
          if (results.key === "VALIDATION_FAILED") {
            this.changeFormAction();
            results.details.forEach((error: any) => {
              this.formErrors[error.context.key] = error.message;
            });
          } else {
            this.changeFormAction();
            this.formData = {
              firstname: "",
              lastname: "",
              email: "",
              password: "",
            };
            this.getAuthors();
          }
        });
    },
    updateAuthor() {
      const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";
      fetch(`http://localhost:3000/author/${this.updateAuthorId}`, {
        method: "PATCH",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + jwt,
        },
        body: JSON.stringify(this.formData)
      })
        .then((response) => response.json())
        .then((results) => {
          if (results.key === "VALIDATION_FAILED") {
            this.changeFormAction();
            results.details.forEach((error: any) => {
              this.formErrors[error.context.key] = error.message;
            });
          }
          this.getAuthors();
        });
    },
    submitForm() {
      if (this.formAction === "POST") {
        this.createAuthor();
      } else {
        this.updateAuthor();
      }
    },
    changeAuthor() {
      const select: any = document.getElementById('authors-select')

      if (select.value !== "default") {

        const author = this.authors[select.value];

        this.updateAuthorId = author.id;

        this.formData = {
          firstname: author.firstname,
          lastname: author.lastname,
          email: author.email,
          password: author.password,
        };
      } else {
        this.updateAuthorId = null;

        this.formData = {
          firstname: "",
          lastname: "",
          email: "",
          password: "",
        };
      }
    },
    changeFormAction(action = null) {
      if (action) {
        this.formData = {
          firstname: "",
          lastname: "",
          email: "",
          password: "",
        };

        this.formAction = action;
        this.updateAuthorId = null;
      }

      this.formErrors = {
        firstname: null,
        lastname: null,
        email: null,
        password: null,
      };
    },
  },
})
export default class AuthorForm extends Vue {}
</script>

<style scoped>
.author-form {
  font-family: "Nutito-Sans Regular";
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.form-header__button {
  margin: 0 0.5em;
  cursor: pointer;
}

.author-form h3 {
  margin-bottom: 1rem;
}

.author-form input[type="text"],
.author-form input[type="password"],
.author-form input[type="email"],
.author-form select
{
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #7f5539;
}

.author-form label {
  margin-bottom: 0.5em;
}

.author-form_buttons {
  width: 150px;
  margin-right: 1em;
  padding: 1em;
  cursor: pointer;
  color: white;
  border: none;
}

.author-form_buttons:active {
  opacity: 0.8;
}

.author-form_buttons:disabled {
  background: grey;
  opacity: 0.5;
}

.field_group_holder{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.field_error {
  bottom: 0;
}
</style>
