<template>
  <div class="table">
    <div class="t-row color-white">
      <div class="t-cell t-cell-small">Firstname</div>
      <div class="t-cell t-cell-small">LastName</div>
      <div class="t-cell t-cell-big">Email</div>
      <div class="t-cell t-cell-medium"></div>
    </div>
    <div class="t-row bg-light_white" v-for="(entry, index) in data" :key="index">
      <div class="t-cell t-cell-small">{{ entry.firstname }}</div>
      <div class="t-cell t-cell-small">{{ entry.lastname }}</div>
      <div class="t-cell t-cell-big table-email">{{ entry.email }}</div>
      <div class="t-cell t-cell-medium t-cell-icons">
        <span class="t-cell-icon color-red" @click="deleteAuthor(entry.id)" >delete</span>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    data: Array,
    getAuthors: Function,
  },
  methods: {
    deleteAuthor(id: string) {
      const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";
      fetch(`http://localhost:3000/author/${id}`, {
        method: "DELETE",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + jwt,
        },
      }).then((response) => {
        if (response.status == 204) {
          this.getAuthors();
        }
      });
    },
  },
})
export default class AuthorTable extends Vue {}
</script>

<style scoped>
.table {
  background: #7f5539;
  border-right: 1px solid #7f5539;
  border-left: 1px solid #7f5539;
}

.t-row {
  font-family: "Nutito-Sans Regular";
  display: flex;
  margin-bottom: 1px;
}

.t-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1em;
  text-align: center;
}

.table-email{
  font-size: 0.8em;
}

.t-cell-small {
  width: 20%;
}

.t-cell-medium {
  width: 20%;
}

.t-cell-big {
  width: 30%;
}

.t-cell-icons{
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.t-cell-icon {
  margin-left: 1.5em;
  font-size: 0.8em;
  cursor: pointer;
}
</style>
