<template>
  <div>
    <div class="book_table">
      <div class="bt__row bg-dark_brown color-white">
        <div class="bt__row_column">Name</div>
        <div class="bt__row_column">Description</div>
        <div class="bt__row_column">Author</div>
        <div class="bt__row_column">Published year</div>
      </div>
      <div class="bt__row bg-light_brown" v-for="(book, index) in books" :key="index">
        <div class="bt__row_column">{{ book.name }}</div>
        <div class="bt__row_column">{{ book.description }}</div>
        <div class="bt__row_column">{{ book.author.firstname }} {{ book.author.lastname }}</div>
        <div class="bt__row_column">{{ book.createdAt.substring(0, 10).split("-").reverse().join("-") }}</div>
      </div>
    </div>
    <div class="table_pagination">
      <div class="tp-button no-select" @click="incrementPage(-1)">prev</div>
      <div class="tp-number">{{ page }} / {{ maxPage }}</div>
      <div class="tp-button no-select" @click="incrementPage(1)">next</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Navigation from "@/components/Navigation.vue";

@Options({
  components: {
    Navigation,
  },
  data: () => {
    return {
      books: [],
      booksCount: 0,
      page: 1,
      maxPage: 1,
    };
  },
  methods: {
    getBooks() {
      const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";
      fetch(`http://localhost:3000/book?page=${this.page}`, {
        method: "GET",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + jwt,
        },
      })
        .then((response) => response.json())
        .then((results) => {
          this.maxPage = Math.ceil(results.count / 10);
          this.books = results.books;
          this.booksCount = results.count;
        });
    },
    incrementPage(increment: number) {
      const newPage = this.page + increment;
      if (0 < newPage && newPage <= this.maxPage) {
        this.page = newPage;
      }
    },
  },
  watch: {
    page: function () {
      this.getBooks();
    },
  },
  mounted() {
    this.getBooks();
  },
})
export default class BookTable extends Vue {}
</script>

<style scoped>
.book_table {
  display: flex;
  flex-direction: column;
  border: 1px solid #363636;
}

.bt__row {
  display: flex;
  border-bottom: 1px solid #363636;
}

.bt__row:last-child {
  border-bottom: none;
}

.bt__row_column {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  width: 150px;
}

.table_pagination {
  font-family: "Nutito-Sans Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.tp-button {
  padding: 0.5em 1.5em;
  background: #7f5539;
  color: #ede0d4;
  cursor: pointer;
}

.tp-number {
  padding: 0.5em 1.5em;
  background: #ede0d4;
}
</style>