<template>
  <nav class="navigation">
    <div class="link_container navigation_elements">
      <router-link class="links" :to="{ path: 'Books' }">Books</router-link>
      <router-link v-if="isAdmin" class="links border-left" :to="{ path: 'Authors' }">Authors</router-link>
    </div>
    <button class="logout_button navigation_elements" @click="logout">Logout</button>
  </nav>
</template>

<script lang="ts">
import jwt_decode from "jwt-decode";
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
  props: {
    logout: {
      type: Function,
    },
  },
  data: () => {
    return {
      isAdmin: false,
      email: "User",
    };
  },
  mounted() {
    const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";
    const tokenData: {
      email: string,
      firstname: string,
      roles: [{ name: string }],
    } = jwt_decode(jwt);

    this.email = tokenData.email;

    this.isAdmin = tokenData.roles.some((role) => {
      return role.name === "admin";
    });
  },
})
export default class Navigation extends Vue {}
</script>

<style scoped>
.navigation{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem;

  border-bottom: 1px solid #7f5539;
}

.link_container {
  display: flex;
}

.links {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #7f5539;
}

.logout_button {
  padding: 0.5em 1.5em;
  background: transparent;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.logout_button:hover {
  background: tan;
  color: white;
}

.navigation_email_heading {
  color: #363636;
}

.navigation_elements {
  flex-grow: 0;
  flex-basis: 0;
}

</style>
