<template>
  <Navigation v-if="isUserAuth" :logout="logout" />
  <router-view :initLogin="login" />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Navigation from "@/components/Navigation.vue";

@Options({
  components: { Navigation },
  data: () => {
    return {
      isUserAuth: false,
    };
  },
  methods: {
    login() {
      this.isUserAuth = true;
    },
    logout() {
      localStorage.removeItem("q_agency_jwt_auth");
      this.isUserAuth = false;
      this.$router.push("/login");
    },
  },
  mounted() {
    const jwt = window.localStorage.getItem("q_agency_jwt_auth");
    if (!jwt) {
      this.$router.push("login");
    } else {
      this.isUserAuth = true;
    }
  },
})
export default class Home extends Vue {}
</script>

<style>
html, body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

*:focus {
  outline: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-light_brown {
  background: #ede0d4;
}

.bg-dark_brown {
  background: #7f5539;
}

.bg-light_white {
  background: #ede0d4;
}

.bg-red {
  background: #f44336;
}

.bg-green {
  background: #4caf50;
}

.color-green {
  color: #4caf50;
}

.color-red {
  color: #f44336;
}

.color-white {
  color: #e3e3e3;
}

.padding-1 {
  padding: 1em;
}

.padding-05 {
  padding: 0.5em;
}

.margin-1 {
  margin: 1em;
}

.margin-05 {
  margin: 0.5em;
}

.text-center {
  text-align: center;
}

.border-left {
  border-left: 1px solid black;
}

.color-white {
  color: white;
}

.underline {
  text-decoration: underline;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Nutito-Sans Regular';
  src: url("/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: 'Nutito-Sans Bold';
  src: url("/fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
</style>
