<template>
  <div class="authors-page">
    <div class="authors-table">
      <AuthorTable :data="authors" :getAuthors="getAuthors" />
      <div class="table_pagination">
        <div class="tp-button no-select" @click="incrementPage(-1)">prev</div>
        <div class="tp-number">{{ page }} / {{ maxPage }}</div>
        <div class="tp-button no-select" @click="incrementPage(1)">next</div>
      </div>
    </div>
    <div class="authors-create-form" style="background: white">
      <AuthorForm :getAuthors="getAuthors" :authors="authors" />
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AuthorForm from "@/components/AuthorForm.vue";
import AuthorTable from "@/components/AuthorTable.vue";

@Options({
  components: {
    AuthorTable,
    AuthorForm,
  },
  data: () => {
    return {
      authors: [],
      authorsCount: Number,
      page: 1,
      maxPage: 1,
    };
  },
  methods: {
    getAuthors() {
      const jwt: string = window.localStorage.getItem("q_agency_jwt_auth") ?? "";
      fetch(`http://localhost:3000/author?page=${this.page}`, {
        method: "GET",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + jwt,
        },
      })
        .then((response) => response.json())
        .then((results) => {
          this.authors = results.users;
          this.authorsCount = results.count;
          this.maxPage = Math.ceil(results.count / 10);
        });
    },
    incrementPage(increment: number) {
      const newPage = this.page + increment;
      if (0 < newPage && newPage <= this.maxPage) {
        this.page = newPage;
      }
    },
  },
  watch: {
    page: function () {
      this.getAuthors();
    },
  },
  mounted() {
    this.getAuthors();
  },
})
export default class Books extends Vue {}
</script>

<style scoped>
.authors-page {
  position: relative;
  display: flex;
  min-height: 800px;
}

.authors-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 1rem;
}
.authors-create-form {
  width: 40%;
  padding: 1rem;
}

.table_pagination {
  font-family: "Nutito-Sans Regular";
  display: flex;
  justify-content: center;
  align-items: center;
}

.tp-button {
  padding: 0.5em 1.5em;
  background: #7f5539;
  color: #ede0d4;
  cursor: pointer;
}

.tp-number {

  padding: 0.5em 1.5em;
  background: #ede0d4;
}
</style>
