<template>
  <div class="books">
    <h2 class="books_headline">Books</h2>
    <BookTable />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Navigation from "@/components/Navigation.vue";
import BookTable from "@/components/BookTable.vue";

@Options({
  components: {
    Navigation,
    BookTable,
  },
})
export default class Books extends Vue {}
</script>

<style scoped>
.books {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books_headline {
  padding: 1em;
}
</style>
