<template>
  <div class="login_screen">
    <LoginCard :initLogin="initLogin" />
    <LoginImage/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import LoginCard from "@/components/login/LoginCard.vue";
import LoginImage from "@/components/login/LoginImage.vue";

@Options({
  props: {
    initLogin: Function,
  },
  components: {
    LoginCard,
    LoginImage,
  },
})
export default class LoginScreen extends Vue {}
</script>

<style scoped>
.login_screen {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}
</style>
